.group-section-container {
  width: 600px;
  display: table-cell; vertical-align: middle;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px
}

.group-title-chat {
  font-size: 18px;
  font-weight: bold;
}