.main-header-group-section {
    background-color: #7198C9;
    color: #fefefe;
    position: relative;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.grid-container-header-section {
    display: grid;
    grid-template-areas:
      'header-group header-group header-group header-group header-group header-group header-group'
      'search-contact search-contact search-contact search-contact search-contact search-contact search-contact';
}

.header-group {
    height: 200px;
    grid-area: header-group; 
    font-weight: bold;
    font-size: 12px;
    padding: 35px ;
    overflow: scroll;
}
.search-contact {
    // background-color: #b3cdfd;
    grid-area: search-contact; 
    padding: 10px ;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 0px 0px 10px 10px;

}
.input-search {
    width: 90%;
    padding: 10px;  
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.title-name-group {
    width: 296px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.input-name-group {
    width: 255px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
}


.from-create-group-btn {
  background-color: #ffffff;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  color: #5886c0;
  padding: 10px;
  font-size: 16px;
  border-color: #ffffff;
}