.main-header-group-section {
    background-color: #fefefe;
    color: #fefefe;
    // background-color: #b3cdfd;
    position: relative;
    height: 140px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.grid-container-header-section {
    display: grid;
    grid-template-areas:
      'header-group header-group header-group header-group header-group header-group header-group'
      'search-contact search-contact search-contact search-contact search-contact search-contact search-contact';
}

.header-group {
    background-color: #7198C9;
    grid-area: header-group; 
    font-weight: bold;
    font-size: 12px;
    padding: 35px ;
}
.search-contact { 
    // background-color: fuchsia;
    grid-area: search-contact; 
    padding: 10px ;
}
.input-search {
    width: 90%;
    padding: 10px;  
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
