.main-chat-general-list-contact-group {
    overflow: scroll; 
    position: relative;
    height: 100%;
    width: 100%;
}

.main-chat-general-list-contact-group-title{
    color: rgb(78, 78, 78);
    font-weight: bold;
}