.modal-container{
  display: none;

  &.visible{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 1s ease-in;

  .modal-box{
      width: 368px;
      min-height: 158px;
      border-radius: 2px;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 16px 24px 2px rgba(0, 0, 0, 0.14);
      background-color: #ffffff;
    }

    .screen-block{
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: #ffffff;
      opacity: 0.8;
      z-index: -1;
    }
  }

}