.main-chat-general-data-user {
    background-color: #fefefe;
    position: relative;
    height: 140px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {

    .main-chat-general-data-user{
        width: 100%;
    }

}


.grid-container-user-chat {
    display: grid;
    grid-template-areas:
      'icon-user name-user name-user name-user name-user name-user name-user'
      'icon-user status-user status-user status-user status-user status-user status-user'
      'search-contact search-contact search-contact search-contact search-contact search-contact search-contact';
      width:408px;
}
.grid-container-user-chat > div {
    padding: 6px 0;
 
}

.search-contact {
    // background-color: #b3cdfd;
    grid-area: search-contact; 
    float: left;
    width: 408px;
    height:50px;
    border-top:1px solid #f2f2f2;
    margin-top:18px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    outline: none;

}

.name-user {
    grid-area: name-user; 
    margin-top:16px;
    margin-left:9px;
    height: 28px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #323232;
}
.icon-user { 
    grid-area: icon-user; 
}

.outer-circle-user-main{
    width:52px;
    height:52px;
    position:relative;

}

.outer-circle-user {
  width:42px;
  height:42px;
  position:relative;
}

.img-icon-user-main {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 8px;

}


.img-icon-user {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.img-icon-search{
    width:21px;
    height:21px;
    float:left;
    margin-top:10px;
    margin-right:8px;
    margin-left: 15px;
}
.inner-circle-user {
    background-color:#74c365;
    border-color: #ffffff;
    top: -58px; left:83px;
    width:20%;
    height:20%;
    position: relative;
}
.circle-user { 
    border-radius: 50%; 
} 

.status-user { 
    grid-area: status-user; 
    font-weight: 260;
    color:#4C4C4C;
    margin-left:-6px;
    height: 19px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: 0.4px;
    color: #999999;
}


input::-webkit-input-placeholder {
    color: #a1a1a1;
  }
  input:-moz-placeholder {
    color: #a1a1a1;
  }
  input::-moz-placeholder {
    color: #a1a1a1;
  }
  input:-ms-input-placeholder {
    color: #a1a1a1;
  }


.input-search-main {
    width: 65%;
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;  
    margin-top:6px;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0x 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    outline: none;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323232;
}



.input-search {
    padding-top: 10px;  
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0x 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    width: 310px;
    height: 23px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.2px;
    color: #323232;
    outline: none;
}

.input-user-config {
    float:right;
    margin-right: 10px;

}

.dots-main{
     width:20px;
     height:90%;
}
