@media screen{
    .header-right-side{

        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        .title-section{
            span{
            }
            img{
            }
        }
    }
}