.contact-chat-group {
  background-color: #fefefe;
  // background-color: #f5cd5d;
  position: relative;
  width: 390px;
  height: 56px;
  border-radius: 0px 10px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

.contact-chat-group:hover{
  background-color: #d9e6f5;
}

.grid-container-contact-chat-group {
  display: grid;
  grid-template-areas:
  'icon-contact-group name-contact-group name-contact-group name-contact-group name-contact-group name-contact-group name-contact-group name-contact-group name-contact-group count-message-group';
  grid-gap: 1px;
  padding: 1px;
}
.grid-container-contact-chat-group > div {  
  padding: 0px 0;
}

.icon-contact-group {
    grid-area: icon-contact-group;
    width: 100%;
    height: 56px;
}

.outer-circle-group {
  width:42px;
  height:42px;
  position:relative;
}

.img-icon-user-group {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.inner-circle-group {
  background-color:#74c365;
  border-color: #ffffff;
  top: -22px; left:40px;
  width:20px;
  height:20px;
  position: relative;
}
.circle-group { 
  border-radius: 50%; 
}
.name-contact-group { 
  height: 16px;
  width:210px;
  margin-top:20px;
  overflow:hidden;
  margin-left:10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.3px;
  color: #323232;
}
.day-last-message-group { 
  grid-area: day-last-message-group; 
  justify-self: end;
}
.day-last-message-group > p {
  font-size: 12px;
  color: #cccccc;
}
.last-message-group { 
  grid-area: last-message-group;
  font-size: 12px;
  color: #cccccc;
}
.count-message-group {
  grid-area: count-message-group;
  // justify-self: end;
}

.stateUserGroup{
   margin-top:18px;
   margin-bottom: 18px;
   margin-right: 8px;
   margin-right:8px;
   height:20px;
   width: 20px;
}

.selectedChat{
  background-color: #d9e6f5;
}

.circle-count-message-group {
  width: 20px;
  height: 20px;
  background:#7198C9;
  color: #fdfdfd;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: 24px;
  margin-top:18px;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}

.markerListContactGroup {
  height: 16px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.2px;
  color: #a1a1a1;
  margin-top:10px;
  margin-bottom: 5px;
}

div.letterContactGroup-A{
  display: block;
}

