@media screen {
    .footer-messages-section{
        padding: 0px;
        max-height: 60px;
        flex: none;
        display: flex;
        border-style: solid none none none;
        border-width: 1.2px;
        border-color: #e0e0e0;
        .data-input{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 10px;
            width: 100%;
            min-height: 60px;
            position: relative;
        }
        div.icon{
            flex: 1;
            width: 36px;
            cursor: pointer;
            img{
                width: 24px;
                height: 24px;
            }
        }
        div.text-message{
            display: grid;
            grid-template-columns: auto 36px;
            flex: 15;
            width: 100%;
            border-width: 1.5px;
            border-style: solid;
            border-color: lightgray;
            border-radius: 4px;
            input{
                border-style: none;
                min-height: 40px;
                padding-left: 8px;
                white-space: nowrap;
                font-size: 16px;
                text-overflow: ellipsis;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: rgb(170, 170, 170);
                }
            }
            .emoji{
                text-align: center;
                margin-top: 8px;
                cursor: pointer;
            }
        }
    }
}