.contact-chat {
  background-color: #fefefe;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  margin-top: 10px;
}

.grid-container-contact-chat {
  display: grid;
  grid-template-areas:
    'icon-contact name-contact name-contact name-contact name-contact name-contact name-contact day-last-message '
    'icon-contact last-message last-message last-message last-message last-message last-message count-message ';
  grid-gap: 1px;
  padding: 1px;
}
.grid-container-contact-chat > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px 0;
  margin:3px;
}

.icon-contact {
    grid-area: icon-contact;
}

.outer-circle {
  width:52px;
  height:52px;
  position:relative;
}

.img-icon-user {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.inner-circle {
  background-color:#74c365;
  border-color: #ffffff;
  top: -15px; left:70%;
  width:20%;
  height:20%;
  position: relative;
}
.circle { 
  border-radius: 50%; 
}
.name-contact { 
  grid-area: name-contact;
  font-weight: bold;
  font-size: 12px;
}
.day-last-message { 
  grid-area: day-last-message; 
  justify-self: end;
}
.day-last-message > p {
  font-size: 12px;
  color: #cccccc;
}

.day-last{
  display: inline-flex;
  align-items: center;
}

.last-message { 
  grid-area: last-message;
  font-size: 12px;
  color: #cccccc;
}
.count-message {
  grid-area: count-message;
  justify-self: end;
}
.circle-count-message {
  width: 20px;
  height: 20px;
  background:#f5cd5d;
  color: #fdfdfd;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}