.contact-chat {
  background-color: #fefefe;
  // background-color: #e60303;
  position: relative;
  width: 100%;
  height: 56px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  margin-top: 8px;
}

.grid-container-contact-chat {
  display: grid;
  grid-template-areas:
    "icon-contact name-contact day-last-message btns-options"
    "icon-contact last-message count-message btns-options";
  grid-gap: 0px;
  padding: 0px;
}
.grid-container-contact-chat > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 0;
  margin-right: 0px;
  margin-bottom: 0px;
}

.btns-options {
  grid-area: btns-options;
  justify-self: end;
}

.icon-contact {
  grid-area: icon-contact;
  width: 52px;
}

.outer-circle {
  width: 56px;
  height: 56px;
  position: relative;
  margin-left: 0px;
}

.img-icon-user {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.inner-circle {
  background-color: #74c365;
  border-color: #ffffff;
  border: 2px solid #ffffff;
  top: -15px;
  left: 70%;
  width: 20%;
  height: 20%;
  position: relative;
}
.circle {
  border-radius: 50%;
}
.name-contact {
  grid-area: name-contact;
  font-weight: bold;
  font-size: 12px;
  margin-left: 8px;
}
.day-last-message {
  grid-area: day-last-message;
  justify-self: end;
}
.day-last-message > p {
  font-size: 16px;
  color: #cccccc;
}

.day-last {
  display: inline-flex;
  align-items: center;
  float: left;
  width: auto;
  font-size: 16px;
  margin-top: 10px;
}

.last-message {
  grid-area: last-message;
  margin-top: 0px;
  margin-left: 8px;
  height: 16px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.2px;
  color: #a1a1a1;
}
.count-message {
  grid-area: count-message;
  justify-self: end;
}
.circle-count-message {
  width: 19px;
  height: 19px;
  background: #f5cd5d;
  color: #fdfdfd;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-message-number {
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
}

.text-contact {
  float: left;
  text-align: left;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 1px;
  width: 260px;
  overflow: hidden;
  height: 16px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: -0.3px;
  color: #323232;
}

.word-contact {
  float: left;
  width: auto;
  height: 16px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: -0.3px;
  color: #323232;
}

.status-contact {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 10px;
}
