.App {
  text-align: center;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-body {
  display: flex;
  position: relative;
  /* height: 400px; */
  width: 100%;
}
.login-header {
  border: 3px solid rgb(33, 152, 173);
  position: relative;
  /* height: 100px; */
  width: 100%;
}
.login-instructions {
  border: 3px solid rgb(173, 38, 33);
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.login-qr-code {
  border: 3px solid #73AD21;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
hr {
  border-top: 1px solid #f2f2f2;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d0d0d0;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d0d0d0;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #d0d0d0;
}
.dropbtn {
  background-color: #5886c0;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  color: white;
  padding: 10px;
  font-size: 16px;
}