.App {
  text-align: center;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* .app-frame {
  margin: 5%;
  padding: 30px;
  width: calc(80vw);
  background-color: rgb(175, 175, 175);
} */
.login-body{
  display: flex;
  position: relative;
  /* height: 400px; */
  width: 100%;
}
.login-header{
  border: 3px solid rgb(33, 152, 173);
  position: relative;
  /* height: 100px; */
  width: 100%;
}
.login-instructions{
  border: 3px solid rgb(173, 38, 33);
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.login-qr-code{
  border: 3px solid #73AD21;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.main-chat-header{
  display: flex;
  position: relative;
  /* height: 100px; */
  width: 100%;
}
.main-chat-general-data-user{
  /* background-color: #00b1c9; */
  background-color: #fefefe;
  position: relative;
  height: 120px;
  width: 90%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 10px;
}
.input-search {
  width: 60%;
  padding: 6px ;  
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.contact-chat{
  background-color: #fefefe;
  /* background-color: #bd06ce; */
  position: relative;
  height: 100px;
  width: 90%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 10px;
}
.main-chat-user-connect-conversation-user{
  background-color: #fefefe;
  position: relative;
  height: 100px;
  width: 70%;
}
.main-chat-general-list-contact{
  overflow: scroll;
  position: relative;
  height: 100%;
  width: 100%;
}
.main-chat-general-conversation-contact{
  position: relative;
  height: 600px;
  width: 70%;
}
.main-chat-area-send-conversation{
  margin-left: 10px;
  background-color: #fefefe;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.icon-user{
  float: left;  
  height: 50px;
  width: 50px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.boton-action-send-file{
  float: left;
  background-color: rgb(94, 94, 94);
  height: 50px;
  width: 50px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.boton-action-more-file{
  float: left;
  background-color: rgb(94, 94, 94);
  height: 50px;
  width: 50px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.input-send {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.button-send-chat {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.imgIcoUser {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.imgSearch {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circleBase {
  border-radius: 50%;
}
.circleActive{
  width: 10px;
  height: 10px;
  background:#78c469;
}
/* .descriptionUser{
  font-size: 10px;
  text-align: left;
}
.right {
  float: right;
} */
.nameUser{
  font-size: 10px;
}
/* .contacts-section-container{
  background-color: #fefefe;
  margin: 10px;
} */
hr{
  border-top: 1px solid #f2f2f2;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d0d0d0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d0d0d0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d0d0d0;
}

.buttonNew {
  float: right;
  background-color: #5886c0;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 15px;
  cursor: pointer;
}